<div fxLayout="row">
    <div fxFlex="25">
        <app-calendar></app-calendar>
        <app-information></app-information>
        <app-password></app-password>
    </div>
    <div fxFlex style="margin:0 0 0 8px;">
        <app-search></app-search>
        <div fxLayout="row">
            <div fxFlex="70">
                <app-favorite></app-favorite>
            </div>
            <div fxFlex>
                <!-- <app-fixture></app-fixture> -->
                <app-localhost></app-localhost>
            </div>
        </div>
    </div>
    <!-- <div fxFlex>
    </div> -->
</div>